.toggle-search {
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 20px;
  display: inline-flex;
  padding: 2px 8px;
}
.wrapper {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  & > div {
    //transform: scale(0.9);
  }

  .search {
    display: flex;
    align-items: center;
    height: 40px;
    input {
      border: 1px solid #ccc;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      border-right: none;
      padding-left: 16px;
      height: 100%;
      width: 260px;
      outline: none;
      &:focus {
        border-color: #ccc;
      }
    }
    .search-btn {
      height: 100%;
      color: #bbb;
      font-size: 1.25rem;
      border: 1px solid #ccc;
      border-top-right-radius: 50px;
      border-bottom-right-radius: 50px;
      border-left: none;
      width: 40px;
      padding: 5px;
      cursor: pointer;
      &:hover {
        background: #eee;
      }
    }
  }
  .sort {
  }
  .price-range {
  }
  .brand {
  }
}
@media (max-width: 575px) {
  .wrapper {
    padding: 10px 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    justify-content: center;
    & > div {
      margin-bottom: 10px;
      //transform: scale(0.9);
    }
  }
}
