.toggle-search {
  display: flex;
  align-items: center;
}
.wrapper {
  margin-top: 2rem;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  .search {
    display: flex;
    align-items: center;
    height: 40px;
    input {
      border: 1px solid #ccc;
      border-top-left-radius: 50px;
      border-bottom-left-radius: 50px;
      border-right: none;
      padding-left: 16px;
      height: 100%;
      width: 260px;
      outline: none;
      &:focus {
        border-color: #ccc;
      }
    }
    .search-btn {
      height: 100%;
      color: #bbb;
      font-size: 1.25rem;
      border: 1px solid #ccc;
      border-top-right-radius: 50px;
      border-bottom-right-radius: 50px;
      border-left: none;
      width: 40px;
      padding: 5px;
      cursor: pointer;
      &:hover {
        background: #eee;
      }
    }
  }
  .sort {
    display: flex;
    align-items: center;
    min-width: 210px;
    .title {
      font-weight: 500;
      color: #666;
    }
    .icons {
    }
  }
  .price-range {
    display: flex;
    align-items: center;
    min-width: 350px;
    .title {
      font-weight: 500;
      color: #666;
      margin-right: 1rem;
    }
    .slider {
      width: 200px;
      position: relative;
      //top: 14px;
    }
  }
}
@media (max-width: 575px) {
  .wrapper {
    padding: 10px 10px;
    border: 1px solid #ccc;
    border-radius: 30px;
    .search {
      margin-bottom: 30px;
      margin-right: 0 !important;
      width: 100%;
      input {
        width: 100%;
      }
    }
    .sort {
      margin-bottom: 20px;
    }
    .price-range {
    }
  }
}
