html {
  color: #333;
}
// customize scroll bar
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #aaa;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #888;
}

// override react-simple-image-viewer
.react-simple-image-viewer__slide {
  img {
    max-width: 100vh;
  }
}
.react-simple-image-viewer__modal {
  background-color: rgba(0, 0, 0, 0.4) !important;
}
.react-simple-image-viewer__next,
.react-simple-image-viewer__previous {
  opacity: 1 !important;
  background: rgba(246, 246, 246, 0.3);
  height: auto !important;
  border-radius: 50%;
}
