@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';

/* .slick-next {
  right: 20px;
  transform: scale(1.5);
}

.slick-prev {
  left: 20px;
  z-index: 9999;
  transform: scale(1.5);
} */
