.wrapper {
  padding: 0;
  background: #fff;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logo {
    img {
      height: 46px;
    }
  }
  .search {
    display: flex;
    align-items: center;
    height: 40px;
    position: relative;
    input {
      border: 1px solid #ccc;
      border-top-left-radius: 50px;
      border-bottom-left-radius: 50px;
      border-right: none;
      padding-left: 16px;
      padding-right: 30px;
      height: 100%;
      width: 280px;
      outline: none;
      &:focus {
        border-color: #ccc;
      }
    }
    .search-delete-btn {
      position: absolute;
      font-size: 1rem;
      cursor: pointer;
      right: 46px;
      color: #bbb;
    }
    .search-btn {
      height: 100%;
      color: #bbb;
      font-size: 1.25rem;
      border: 1px solid #ccc;
      border-top-right-radius: 50px;
      border-bottom-right-radius: 50px;
      border-left: none;
      width: 40px;
      padding: 5px;
      cursor: pointer;
      &:hover {
        background: #eee;
      }
    }
  }
  .user {
    display: flex;
    color: #666;
    .user-icon-wrapper {
      display: flex;
      align-items: center;
      margin-left: 40px;
      span {
        margin-left: 6px;
      }
    }
  }
}
@media (max-width: 575px) {
  .wrapper {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 6px;
    padding-bottom: 60px;
    position: relative;
    height: auto;
    .search {
      position: absolute;
      bottom: 10px;
      right: 0px;
      left: 0px;
      input {
        width: 100%;
      }
    }
    .user {
      .user-icon-wrapper {
        margin-left: 30px;
      }
    }
  }
}
